<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
  <%= link_to "Back to stores", stores_path %> |

  <%= content_tag :div, class: 'field' do %>
    <%= button_to "Discard this store", @store, method: :delete %>
  <% end if !@store.discarded?%>
</div>

<%= render @store %>

<h2>Store products:</h2>
<%= link_to "New product" %>

<% @store.products.each do |product| %>
  <p>
    <strong>Id: </strong>
    <%= product.id %>
    <strong>Name: </strong>
    <%= product.name %>
    <hr>
  </p>
<% end %>