<div id="<%= dom_id order %>">
    <p>Order Id: <%= order.id %></p>
    <p>Store name: <%= order.store[:name] %></p>
    <p>User id: <%= order.user_id %></p>
    <p>Status: <%= order.state %></p>
    <strong><p>Total value: <%= order.total_value %></strong>
</div>