<div id="<%= dom_id order %>">
    <p>Order Id: <%= order.id %></p>
    <p>Store name: <%= order.store[:name] %></p>
    <p>User id: <%= order.user_id %></p>
    <p>Total value: <%= order.total_value %>
</div>